/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and behaviors */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}

/* Document & Root */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Sections */
body {
  background-color: transparent;
  line-height: inherit;
}

main {
  display: block;
}

/* Grouping content */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

abbr[title] {
  text-decoration: underline dotted;
}

/* Text-level semantics */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

/* Embedded content */
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  /* height: auto; */
}

/* Forms */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: 0;
  text-transform: none;
  background-color: transparent;
  color: inherit;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, select, textarea {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  caption-side: bottom;
}

td, th {
  padding: 0;
  text-align: left;
}

/* Accessibility */
[aria-disabled="true"] {
  cursor: default;
}

[hidden] {
  display: none !important;
}