@charset "UTF-8";

/* --------------------------------------------------
   カラーシステム・共通変数の定義
-------------------------------------------------- */
:root {
  --color-yellow: #F8CB00;
  --color-bgc-a: #FFF8F0;
  --color-bgc-b: #F5EEE8;
  
  --color-accent: #F8701C;
  
  --color-blue: #0090E2;
  --color-pink: #FF7675;
  
  --color-bg-light: #FEFCE8; 
  --color-bg-white: #FFFFFF;
  
  --color-text-main: #331a00;
  --color-text-sub: #636E72;

  --border-radius-large: 3.125rem;
  --border-radius-small: 1.5rem;
}

body {
  background-color: var(--color-yellow);
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN", "Yu Gothic", sans-serif;
  color: var(--color-text-main);
}

/* 共通 */
.section-inner,
.header-inner {
  max-width: 68.75rem; 
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
  position: relative;
  z-index: 2;
}

.section-sub {
  font-size: 1rem;
  color: var(--color-text-sub);
  font-weight: 600;
  text-align: center;
}

.section-title {
  font-size: clamp(1.4rem, 1.153rem + 1.13vw, 3rem);
  text-align: center;
  margin-bottom: 1.875rem;
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
}

/* header -------------------- */
.site-header h1 {
  flex: 0 1 18.75rem;
  min-width: 9.375rem;
  width: 100%;
}

.site-header h1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header-menu ul {
  display: flex;
  gap: 1.875rem;
}

.header-menu a {
  transition: all .5s;
}

.header-menu a:hover {
  color: var(--color-bg-white);
}

/* .header-menu li {
  cursor: pointer;
} */

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-bg-white);
  padding: .5rem 1.25rem;
  border-radius: var(--border-radius-small);
  box-shadow: 0 2px 0 #E08400;
  transition: all .5s;
}

.btn-primary:hover {
  opacity: .8;
}

.hamburger-btn {
  display: none;
}

/*  画面幅が 960px 以下のとき（スマホ用） */
@media (max-width: 960px) {

.header-inner {
  padding: 1.25rem .625rem;
}

  .site-header h1 {
    flex: 0 1 12.5rem;
    z-index: 10;
  }

  .header-menu {
    display: none;
  }

  .hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger-btn span {
    width: 100%;
    height: .1875rem;
    background-color: #333333;
    border-radius: .625rem;
    transition: all 0.3s;
    transform-origin: left center; 
  }

  .header-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
  }

  .header-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
  }

  .hamburger-btn.is-open span:nth-of-type(1) {
    transform: rotate(45deg) translate(0.1rem, 0.1rem);
  }
  .hamburger-btn.is-open span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger-btn.is-open span:nth-of-type(3) {
    transform: rotate(-45deg) translate(0.1rem, -0.1rem);
  }
}
/*  header ここまで-------------------- */

.hero-section {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  /* margin-bottom: 3.75rem; */
}

.hero-inner {
  position: absolute;
  top: 35%;
  right: 3%;
}

.hero-bg-image {
  width: 100%;
  height: 100%;
}

.hero-bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-title {
  max-width: 400px;
  width: 100%;
  margin-bottom: 5rem;
}

.hero-title img {
  filter: drop-shadow(1px 1px 6px rgba(255, 255, 255, 0.6));
}

.hero-sub {
  font-size: clamp(0.75rem, 0.441rem + 1.41vw, 1.5rem);
  text-align: center;
  margin-bottom: .3125rem;
  text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.6) ;
}

.acction-btn a {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-bg-white);
  padding: 0.5rem 1.875rem;
  font-size: clamp(1rem, 0.835rem + 0.75vw, 1.25rem);
  font-weight: bold;
  border-radius: var(--border-radius-large);
  box-shadow: 0 2px 0 #E08400;
  text-decoration: none;
  transition: all 0.3s ease;
}

.acction-btn a:hover {
  opacity: .8;
}

.acction-btn {
  text-align: center;
}

@media (max-width: 768px) {
  .hero-section {
    /* display: flex;
    flex-direction: column; */
    height: auto;
  }

  .hero-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 1.5rem;
    left: 0;
    background-color: transparent;
    padding: 2rem 0;
    height: 38rem;
  }

  .hero-bg-image {
    height: 38rem;
  }

  .hero-bg-image img {
    height: 38rem;
    object-position: 50% 35%;
  }

  .acction-btn {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX( -50% );
  }
}

/* our service　私たちは　--------- */
.about {
  position: relative;
  /* background-color: var(--color-bg-light); */
  width: 100%;
  overflow: hidden;
  padding: 5rem 1.25rem;
}

.about .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* SVG各個体のサイズと位置指定 */
.about-illustration {
  position: absolute;
  aspect-ratio: 418.82 / 395.5;
}

.about-illustration.type1 {
  width: 340px;
  height: auto;
  fill: #de430f;
  opacity: 0.8;
  top: 3.125rem;
  right: -1.25rem;
  transform: rotate(15deg);
}

.about-illustration.type2 {
  width: 300px;
  height: auto;
  fill: #e843d2;
  opacity: 0.75;
  top: 8.75rem;
  left: 0;
  transform: rotate(-25deg);
}

.about-illustration.type3 {
  width: 190px;
  height: auto;
  fill: #3030c7;
  opacity: 0.7;
  bottom: 3.125rem;
  right: 8.125rem;
  transform: rotate(40deg);
}

.sub-title {
  font-size: clamp(0.8rem, 0.545rem + 1.27vw, 1.5rem);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.about-title {
  font-size: clamp(1rem, -0.091rem + 5.45vw, 4rem);
  font-weight: 900;
  margin-bottom: 3rem;
}

.about h3 {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  margin-bottom: 3rem;
  line-height: 1.6;
}

.about p {
  font-size: clamp(0.75rem, 0.565rem + 0.85vw, 1.2rem);
  line-height: 1.8;
}

/* ここから point-section 3つの特徴 ----------------- */
.point-section {
  background-color: var(--color-bgc-b);
  padding-bottom: 3.75rem;
}

.section-title-wrap {
  text-align: center;
  padding: 3.75rem 0;
}

.point-card-g {
  padding: 0 3rem;
}

.point-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 3.75rem;
}

.point-card.first::after {
  position: absolute;
  content: "";
  width: 6.25rem;
  height: 6.25rem;
  top: -50px;
  left: -50px;
  background-color: var(--color-accent);
  border-radius: 99px;
}

.point-card.first::before {
  position: absolute;
  content: "01";
  top: -30px;
  left: -30px;
  font-size: 3rem;
  z-index: 2;
  color: var(--color-bg-white);
  font-weight: 700;
}

.point-card.second::after {
  position: absolute;
  content: "";
  width: 6.25rem;
  height: 6.25rem;
  top: -50px;
  right: -50px;
  background-color: var(--color-accent);
  border-radius: 99px;
}

.point-card.second::before {
  position: absolute;
  content: "02" ;
  top: -30px;
  right: -30px;
  font-size: 3rem;
  z-index: 2;
  color: var(--color-bg-white);
  font-weight: 700;
}

.point-card.third::after {
  position: absolute;
  content: "";
  width: 6.25rem;
  height: 6.25rem;
  top: -50px;
  left: -50px;
  background-color: var(--color-accent);
  border-radius: 99px;
}

.point-card.third::before {
  position: absolute;
  content: "03" ;
  top: -30px;
  left: -30px;
  font-size: 3rem;
  z-index: 2;
  color: var(--color-bg-white);
  font-weight: 700;
}

.point-card:nth-of-type(2) {
  flex-direction: row-reverse;
}

.img-area img {
  border-radius: var(--border-radius-small);
  margin-bottom: 1.875rem;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

.card-title {
  text-align: left;
  font-size: clamp(1.625rem, 1.368rem + 1.18vw, 2.25rem);
  position: relative;
}

.card-text {
  font-size: clamp(0.875rem, 0.772rem + 0.47vw, 1.125rem);
  line-height: 1.8
}

/* ctaボタン ----------------------- */
.cta-btn {
  text-align: center;
  padding: 0 0 5rem;
}

.cta-btn a {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-bg-white);
  padding: 0.5rem 1.875rem;
  font-size: clamp(1rem, 0.835rem + 0.75vw, 1.25rem);
  font-weight: bold;
  border-radius: var(--border-radius-large);
  box-shadow: 0 2px 0 #E08400;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-btn a:hover {
  opacity: .8;
}

@media (max-width:768px) {
  .point-card {
    flex-direction: column;
    gap: .625rem;
  }

  .img-area,
  .text-area {
    width: 100%;
  }

  .text-area {
    gap: .625rem;
  }

  .point-card:nth-of-type(2) {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .point-card-g  {
    padding: 0 1.75rem;
  }

  .point-card.first::after {
    width: 5rem;
    height: 5rem;
    top: -40px;
    left: -40px;
  }
}

/* ----- ギャラリー　みんなの作品 ------ */
.gallery-section {
  background-color: var(--color-bgc-a);
  padding: 3.125rem 0;
}

/* 矢印配置の基準となる親要素 */
.gallery-slider-wrap {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Swiper本体 */
.gallery-swiper {
  width: 100%;
  padding-bottom: 3.125rem;
}

.gallery-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 0.5rem solid var(--color-bg-white);
  box-shadow: 0 0.625rem 1.875rem rgba(78, 56, 39, 0.15);
  cursor: pointer;
}

/* 矢印共通CSS */
.swiper-button-prev,
.swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-bg-white, #fff);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.75rem rgba(78, 56, 39, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 既存のデフォルト矢印文字を消して、くの字を描く */
/* .swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-top: 2px solid var(--color-accent, #ff5722);
  border-right: 2px solid var(--color-accent, #ff5722);
  display: block;

} */

/* 左側の矢印を左向きに回転 */
/* .swiper-button-prev::after {
  transform: rotate(-135deg);
} */

/* 右側の矢印を右向きに回転 */
/* .swiper-button-next::after {
  transform: rotate(45deg);
} */

/* 左右の位置調整 */
.swiper-button-prev {
  left: 0;
  padding-right: 2px;
}

.swiper-button-next {
  right: 0;
  padding-left: 2px;
}

/* ホバー */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateY(calc(-50% - 2px));
  box-shadow: 0 0.375rem 1rem rgba(78, 56, 39, 0.2);
}

/* ドットアクティブ色 */
.swiper-pagination-bullet-active {
  background-color: var(--color-accent)!important;
}

.art-info {
  text-align: center;
  margin: 1.875rem 0 2.5rem;
}


/* コースの案内　ーーーーーーーーーーーーーーー */
.class-section {
  background-color: var(--color-bgc-b);
}

.class-section .pick-text {
  display: inline-block;
  background-color: var(--color-bg-white);
  color: var(--color-accent);
  padding: .9375rem 2.5rem;
  position: relative;
  margin-bottom: 1.875rem;
  border-radius: var(--border-radius-small);
}

.class-section .pick-text::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  bottom: -20px;
  left: 50%;
  transform: translate( -50% );
  background-color: var(--color-bg-white);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.section-title.course-title {
  color: var(--color-accent);
}

.class-box {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 3.125rem;
  padding: 3.75rem;
  border-radius: 10px;
  margin-bottom: 7.5rem;
}

.class-box.second,
.class-box.forth {
  background-color: var(--color-bgc-a);
  flex-direction: row-reverse;
}

.class-text {
  display: inline-block;
  padding: .625rem 1.25rem;
  border-radius: var(--border-radius-small);
  margin-bottom: 1.25rem;
  color: var(--color-bg-white);
}

.class-text.bc-orange {
  background-color: #FDA701;
}

.class-text.bc-blue {
  background-color: #30a8dd;
}

.class-text.bc-green {
  background-color: #6fc3b5;
}

.class-text.bc-red {
  background-color: #CC3333;
}

.class-title {
  font-size: clamp(1.625rem, 1.368rem + 1.18vw, 2.25rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.class-sub {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.sub-orange {
  color: #fda700;
}

.sub-blue {
  color: #30a8dd;
}

.sub-green {
  color: #6fc3b5;
}

.sub-red {
  color: #CC3333;
}

.version {
  line-height: 1.7;
}

.class-img {
  border-radius: var(--border-radius-large);
  overflow: hidden;
  box-shadow: 2px 5px 10px rgba(0 0 0 / .1);
}

.class-img img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (max-width:768px) {
  .class-box,
  .class-box.second,
  .class-box.forth {
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .class-box {
    padding: 0;
  }

  .class-group {
    padding: 0 1.875rem;
  }
}

@media (max-width: 480px) {
  .class-group {
    padding: 0 .625rem;
  }
}
/*  ここまでコースの案内 ---------------------- */
/* .flow-wrap {
  background-color: var(--color-bgc-a);
} */

.flow-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
  margin-bottom: 5rem;
}

.flow-item {
  background-color: var(--color-bg-white);
  padding: 1.875rem .9375rem;
  border-radius: 1rem;
  position: relative;
  /* padding-top: 1.875rem; */
  text-align: center;
  box-shadow: 12px 16px 12px rgba(78, 56, 39, 0.1);
}

.flow-step {
  background-color: var(--color-accent);
  color: var(--color-bg-white);
  display: inline-block;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 3.125rem;
  margin-bottom: 1.875rem;
}

.flow-step-num {
  display: block;
  font-size: clamp(1.25rem, 1.147rem + 0.47vw, 1.5rem);
}

.flow-item-title {
  font-size: clamp(0.875rem, 0.772rem + 0.47vw, 1.125rem);
  font-weight: 700;
  margin-bottom: .9375rem;
}

.flow-item-text {
  text-align: left;
}

@media (max-width:768px) {
  .flow-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .flow-list {
    grid-template-columns: 1fr;
  }
}
/*   ここまで体験レッスンの案内 -------------------- */
.faq-section {
  background-color: var(--color-bgc-b);
}

.faq-list {
  margin-bottom: 5rem;
}

.faq-item {
  background-color: var(--color-bg-white);
  max-width: 800px;
  margin: 0 auto .625rem;
  border-radius: .5rem;
  box-shadow: 12px 16px 12px rgba(78, 56, 39, 0.1);
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: .625rem;
  cursor: pointer;
  font-size: clamp(1rem, 0.897rem + 0.47vw, 1.25rem);
  position: relative;
}

.faq-question::after{
  position: absolute;
  content: "";
  top: 50%;
  right: 5%;
  width: 7px;
  height: 7px;
  border-bottom: 3px solid var(--color-text-sub);
  border-right: 3px solid var(--color-text-sub);
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.faq-question::before {
  content: "Q.";
  margin-right: .5rem;
  color: var(--color-mint);
}

.faq-item.is-open .faq-question::after {
  transform: translateY(-50%) rotate(-135deg);
}

.faq-answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
}

.faq-item.is-open .faq-answer {
  grid-template-rows: 1fr;
}

.faq-answer-inner {
  overflow: hidden;
}

.faq-answer-inner p {
  padding: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: clamp(1rem, 0.897rem + 0.47vw, 1.25rem);
}

.faq-answer-inner p::before {
  content: "A.";
  color: var(--color-mint);
}

.faq-item.is-open .faq-answer-inner p {
  opacity: 1;
}
/* ここまでFAQ -------------------------------- */
.cta-section {
  padding-bottom: 5rem;
}

.cta-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
  padding: 0 1.875rem;
}

.cta-img img {
  border-radius: 999px;
}

.cta-text-g {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
}

.cta-title {
  font-size: clamp(1.125rem, 0.868rem + 1.18vw, 1.75rem);
  font-weight: 700;
  text-align: center;
}

.cta-text-g p {
  font-size: clamp(1rem, 0.897rem + 0.47vw, 1.25rem);
  line-height: 1.6;
}

.reservation-cta-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.cta-btn-text {
  display: inline-block;
  text-align: center;
  background-color: var(--color-text-main);
  color: var(--color-bg-white);
  padding: 1.25rem 3.75rem;
  border-radius: var(--border-radius-small);
  font-size: clamp(1rem, 0.897rem + 0.47vw, 1.25rem);
  position: relative;
  transition: color .5s ease;
}

.cta-btn-text:hover::before {
  transform: scaleY(1);
}

.cta-btn-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-bg-white);
  transform: scaleX(0);
  transition: all 0.8s ease;
  transition-property: transform;
  border-radius: var(--border-radius-small);
  color: var(--color-text-main);
}

.cta-btn-text:hover {
  color: var(--color-text-main);
}

.front {
  position: relative;
}

@media (max-width: 680px) {
  .cta-box {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .cta-img img {
    width: 80%;
    margin: 0 auto;
  }
 
}
/*  ここまで体験レッスンを予約する ------------------ */
.access {
  background-color: var(--color-bgc-b);
}

.access-g {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.75rem;
  padding: 0 6.25rem;
  margin-bottom: 7.5rem;
}

.access-train {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.train-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.875rem, 0.824rem + 0.24vw, 1rem);
  color: var(--color-accent);
  padding: .9375rem 1.875rem;
  border: 2px solid var(--color-accent);
  border-radius: .3125rem;
}

.map {
  position: relative;
  aspect-ratio: 1 / 1;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.train-list:last-child {
  margin-bottom: 5rem;
}

.address h4 {
  font-size: clamp(1.125rem, 0.971rem + 0.71vw, 1.5rem);
  padding-bottom: 1.875rem;
}

.address p {
  font-size: clamp(1rem, 0.897rem + 0.47vw, 1.25rem);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .access-g {
    grid-template-columns: 1fr;
    padding: 0 3.125rem;
  }

  .train-list:last-child {
    margin-bottom: 0;
  }

  .access-train  {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .address {
    text-align: center;
  }

  .map iframe {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .access-train {
    flex-direction: column;
  }

  .access-g {
    padding: 0 .625rem;
    margin-bottom: 5.25rem;
  }
}
/* footer ---------------------------- */
.footer {
  margin: 3.125rem auto .9375rem;
}

.footer-inner {
  padding: 0;
  max-width: 50rem;
  margin: 0 auto;
}

.footer-info {
  text-align: center;
}

.footer-logo img {
  display: inline;
  width: 18.75rem;
  margin-bottom: 1.875rem;
}

.footer-address {
  margin-bottom: 1.25rem;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  place-items: center;
  gap: 1.875rem;
  margin-bottom: 3.75rem;
}

.footer-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 3.75rem;
  padding-bottom: 3.75rem;
  border-bottom: .5px solid var(--color-text-sub);
}

.footer-sns img {
  width: 35px;
}

.footer-copyrigth {
  text-align: center;
  font-size: 12px;
  color: var(--color-text-sub);
}

@media (max-width: 480px) {
  .footer-nav ul {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 .625rem;
  }
}


